h1{
    color: slategray;
    display: flex;
    justify-content:center;
    box-sizing: border-box;
    margin: 0px;
    background-color: black;
    border: 0px;
    font-family:system-ui
    
}

h3{
    color: rgb(143, 3, 3);
}

div{
    box-sizing: border-box;
    display: flex;
    justify-content:center 
    
}

#video{
    display: flex;
    justify-content:center;
}

#foto{
    display: flex;
    justify-content:center
}

#foto2{
    display: flex;
    justify-content:center
}